<div class="dashboard">

  <!-- Menú lateral -->
  <div class="sidebar">
    <ul>
      <li><a routerLink="/dashboard" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/dashboard/mis-turnos" routerLinkActive="active">Mis Turnos</a></li>
      <li><a routerLink="/dashboard/usuario/perfil" routerLinkActive="active">Mis Datos</a></li>
      <li><a routerLink="/dashboard/pagos" routerLinkActive="active">Historial de Pagos</a></li>
    </ul>
  </div>

  <!-- Contenido principal -->
  <div class="main-content">

    <!-- Saludo visible solo en /dashboard -->
    <div *ngIf="mostrarSaludo" class="saludo-box">
  <h1>👋{{ saludo }}</h1>
</div>


    <!-- Carga de componentes hijos -->
    <div class="contenido">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
