<div class="dashboard">
  <nav class="sidebar">
    <ul>
      <li>
        <a routerLink="/dashboard/usuario/perfil" routerLinkActive="active">
          <span class="material-symbols-outlined perfil">account_circle</span>&nbsp;Perfil
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/mis-turnos" routerLinkActive="active">
          <span class="material-symbols-outlined">assignment_turned_in</span>&nbsp;Mis Turnos
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/pagos" routerLinkActive="active">
          <span class="material-symbols-outlined">monetization_on</span>&nbsp;Historial de Pagos
        </a>
      </li>
    </ul>
  </nav>

  <div class="main-content">
    <div *ngIf="mostrarSaludo" class="saludo-container">
      <h2 class="saludo-text">{{ saludo }}</h2>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
