mientornovirtual
.mientornovirtual
/mientornovirtual
__pycache__
.__pycache__
/__pycache__
__pycache__/
.vsc
node_modules/
.node_modules
.venv
archivo
.archivo
Dockerfile
.Dockerfile
img
.img
requeriment_extras.txt
.requeriment_extras.txt
comandos_docker.txt
.comandos_docker.txt
comandos_pip.txt
.comandos_pip.txt
/abm_ispc/__pycache__
/api/__pycache__
api/migrations/__pycache__/__init__.cpython-311.pyc
desplegar.sh